extends layout

block title
  title tenkei

block contents
  form(method="POST", action="/problem")
    input(type="text", name="body")
    input(type="submit", value="+")
  ul
    for problem in problems
      li
        a(href="/problem/#{problem.id}")= problem.body

